<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>welcome to home page</h1>
    
    <h3>total numner of user in databse is : <%= user  %></h3>
    <form method="post" action="/user">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your username">
        <br>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Email">
        <br>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password">
        <br>
        <br>
        <button type="submit">Join Today!</button>
    </form>
</body>
</html>